@media screen and (max-width: 550px) {
	output,
	input,
	label {
		font-size: 200%;
	}
	table {
		width: 80%;
	}
	main {
		width: 95%;
		min-width: 50px;
		min-height: 30vh;
		margin: auto;
		padding: 5px;
	}

	body {
		margin: 0;
	}
	.min {
		padding-left: 25px;
	}

	input {
		width: 100%;
		min-width: 60px;
		max-width: 120px;
	}

	.starter-container {
		top: 10%;
		max-height: -webkit-min-content;
		max-height: -moz-min-content;
		max-height: min-content;
		min-width: 90%;
	}
}
